.text-content{
    text-align: center;
}
.form-content{
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        input{
            border-radius: 20px;
            border: none;
            padding: 15px;
            width: 70%;
            margin: 1rem auto;
            &:last-of-type{
                margin-bottom: 4rem;
            }
        }
        .btn{
            width: 20%;
            margin: auto;
            background-color: $color-light;
            border-radius: 100px;
            border: none;
            padding: 1rem 2rem;
            text-decoration: none;
            color: $color-dark;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: bold;
            transition: all 0.2s;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
            &:hover{
                color: $color-tertiary;
                width: 22%;
            }
        }
    }
}